@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{ 
    text-decoration: none;
    

    }

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: #fff;
  line-height: 1.6;
}


.navbar{
  
    background-color: #b9d2dc;
    height:50px;
    position: relative;
    padding-top: 5px ;
   
    
}

.navbar a{
    color: black;
}
.navbar a:hover {
    color: #C9ECB5;
}

.navbar h1{
    font-size: 17px;
    font-family: 'Roboto',sans-serif;
    position: absolute;
    left: 850px;
    top:10px;
    

}

.navbar h1 .button{

    position: relative;
    font-family: 'Roboto',sans-serif;
    background-color : #1e1e28;
    border-color: #1e1e28;
    color:white;
    font-size :17px;
    width: 100px;
    height: 30px;
    border-radius: 24px;
    left: 209px;
    top:-28px;
    
    
}
.navbar h1 .button:hover { 
background-color: #4D5758

}

.food_image{
  position: relative;
 
  height: 100vh;
  width: 100vw;
}


.food_image .content {
 
    position: relative;
    width:600px;
    height: 300px;
    margin: auto;
    top: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    right: 200px;
    color:black;
    border-radius: 15px;
}

.food_image .content h1 {
  position: relative;
  top: 28px;
  left: 28px;
  margin-bottom: 10px;
  font-size: 37px;
}
.food_image .content h2 {
  position: relative;
  top: 35px;
  left:35px;
  margin-bottom: 10px;
  font-size: 20px;
}


.food_image .content .button{
   
    font-family: 'Roboto',sans-serif;
    background-color : #0066EE;
    position: absolute;
    top:180px;
    left:180px;
    border-color: #0066EE;
    color:white;
    font-size :15px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
  
   }





.foodai{
  height: 100vh;
  width: 100vw;
}



/* Background Image */
 
.food_image{
  background: url('images/5.jpeg') no-repeat
    center top/cover;
}

