@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{ 
    text-decoration: none;
    

    }

body {
  font-family: 'Roboto', sans-serif;
  background: #333;
  color:black;
  line-height: 1.6;
}


.navbar{
  
    background-color: #b9d2dc;
    height:50px;
    position: relative;
    padding-top: 5px ;
   
    
}

.navbar a{
    color: black;
}
.navbar a:hover {
    color: #C9ECB5;
}

.navbar #user{
    font-size: 17px;
    font-family: 'Roboto',sans-serif;
    position: absolute;
    left: 850px;
    top:10px;
    color:black;
    

}

.navbar #user .button{

    position: relative;
    font-family: 'Roboto',sans-serif;
    background-color : #1e1e28;
    border-color: #1e1e28;
    color:white;
    font-size :17px;
    width: 100px;
    height: 30px;
    border-radius: 24px;
    left: 150px;
    top:-28px;
    
    
}
.navbar #user .button:hover { 
background-color: #4D5758

}

.food_image{
  position: relative;
 
  height: 100vh;
  width: 100vw;
}

.food_image .content {
 
  position: relative;
  width:396px;
  height: 315px;
  margin: auto;
  top: 100px;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background-color: white;
  right: 30px;
  color:black;
  border-radius: 15px;
}




 .food_image .content .textbox{
  
  position:relative;
  left: 18px;
  top:20px;
  border-radius: 6px;
  height:50px;
  color:#797A7C;
  font-size:20px;
  width: 350px;
  border:1px solid;
  border-color: #ccd0d5;
  margin-top: 5px;
  padding:5px;
  margin:5px;
  


 }


 


.food_image .content .button{
   
    font-family: 'Roboto',sans-serif;
    background-color : #0066EE;
    position: absolute;
    top:200px;
    left:100px;
    border-color: #0066EE;
    color:white;
    font-size :15px;
    width: 200px;
    height: 40px;
    border-radius: 4px;
  
   }

   #error{
    position:relative;
    left:20px;
    color:red;
    
    width:300px;
    height:40px;
    font-size: 10px;
    top:15px;
    left:37px;
    
}
#error h1{
    position:relative;
    top:10px;
    font-weight:normal;
    font-size:14px;
    

}


/* Background Image */
 
.food_image{
  background: url('images/5.jpeg') no-repeat
    center top/cover;
}














