<!DOCTYPE html>
<html>
<head>
	<title></title>

 

<link rel="stylesheet" href="../static/style.css" />



</head>
<body onload="user(); notfound()">

       <div class= "navbar">
        <div id="user">
              <a href= "" target = "_blank"> Home</a> &nbsp &nbsp &nbsp <a href= "" target = "_blank"> Demo</a> 
      
      
              
      
         <form action = "submit2" method= "POST">
      
   <a href= "registration.html" target = "_self"><input class = "button" type ="submit" value= "Sign up" name=""></a> 
                 
          </form>
                 
              </div>

           </div>





<div class="food_image">
       <form action= "/submit4" method= "POST">
              <div class="content">
                     <div id="error">
                          
                             </div>


           <p> <input type = "text" name= "username"  placeholder= "Username" class="textbox"/></p>
             
        <p> <input type = "text" name= "password" placeholder= "Password" class="textbox" /></p>
      
                <a href= "" target = "_blank"><input class = "button" type ="submit" value= "Log In" name=""></a> 
               </div>
            </div>
               
               </form>

        
     
</div>






<script>
       function user() {
           
        if ("{{flash}}" == "True") {

        
       let a = `<h3 style="font-weight:normal;">Hi, <span style="color: #0a5282">{{result}} </span> &nbsp &nbsp<a href= "" target = "_blank"> Home</a> &nbsp<a href= "" target = "_blank"> Demo</a>
              &nbsp<a href= "" target = "_blank"> Log Out</a></h3>`;
        
         document.getElementById('user').innerHTML = a;
        }
       }
   
     </script>



       <script>
       function notfound() {
           
        if ("{{found}}" == "false") {

        
    
       let e = ` <h1>The username is not connected to an account</h1>`
        
         document.getElementById('error').innerHTML = e;
        
       }
         }
   
     </script>












  


</body>
</html>