<!DOCTYPE html>
<html>
<head>
	<title></title>

 

<link rel="stylesheet" href="../static/style.css" />



</head>
<body>

       <div class= "navbar">
        
              <h1> <a href= "" target = "_blank"> Home</a> &nbsp &nbsp &nbsp <a href= "" target = "_blank"> Demo</a> &nbsp &nbsp &nbsp
      
      
                <a href= "" target = "_blank"> Log in</a> &nbsp &nbsp &nbsp 
      
         <form action = "submit2" method= "POST">
      
   <a href= "registration.html" target = "_self"><input class = "button" type ="submit" value= "Sign up" name=""></a> 
                 
          </form>
                 </h1>
           </div>





<div class="food_image">
        <div class="content">
          <h1>Health starts with what you eat.</h1>
          <h2>
           Upload an image of your food to get its nutritional content.
          </h2>
          <a href= "" target = "_blank"><input class = "button" type ="submit" value= "Try our Demo" name=""></a> 
         </div>
      </div>

        
     
</div>










    <div class = "foodai">
           <h1> FOODAI GOES HERE </h1>
    </div>


    


  



</body>
</html>