<!DOCTYPE html>
<html>
<head>
	<title></title>

 

<link rel="stylesheet" href="../static/register.css">

</head>
<body>


	<div class="food_image">
		<div class="content">

          <h1>Tell Us About Yourself</h1>

          <form action= "/submit" method= "POST">
          
        
      
      <p> Current Weight <br>	<input type = "text" name= "current_weight" class="textbox" /> lbs </p>
       
       <p> Goal Weight<br><input type = "text" name= "goal_weight" class="textbox" /> lbs</p>
      
    <p> Gender <br><input type="radio" name="gender" value="male"> Male
       <input type="radio" name="gender" value="female"> Female </p>
   
  <p>  Username <br>	<input type = "text" name= "username" class="textbox"/> </p>
      
    <p> Email	<br>  	<input type = "text" name= "email" class="textbox"/> </p>
       
     <p> Password<br> 	<input type = "text" name= "password" class="textbox"/> </p>
         
     <a href= "" target = "_self"><input type = "submit" value ="Sign Up" class="button" ></a>
         
          </form>
         
         


		</div>

	</div>


        
</body>
</html>